*.~sql
*.pyc


# C/C++
obj
bin
*.exe
*.o

*.log

# Java
*.class
*.jar
*.ear
*.war

# Unwanted vs folder
DataStructures/.vs/
*.obj

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#vscode
.vscode
/Java/2019/OOP1/App1/nbproject/private/
/Java/2019/OOP1/App1/build/
/Java/2019/OOP1/App1/dist/
/Java/2019/OOP1/App2/nbproject/private/
/Java/2019/OOP1/App2/build/
/Java/2019/OOP1/App2/dist/
/Java/2019/OOP1/JavaSwing/nbproject/private/
/Java/2019/OOP1/JavaSwing/build/
/Java/2019/OOP1/JavaSwing/dist/
