*.~sql
*.pyc

# C/C++
obj
bin
*.exe
*.o

*.log

# Java
*.class
*.jar
*.ear
*.war

# Unwanted vs folder
DataStructures/.vs/
*.obj

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#vscode
.vscode
.vs/
/Java/2019/OOP1/App1/nbproject/private/
/Java/2019/OOP1/App1/build/
/Java/2019/OOP1/App1/dist/
/Java/2019/OOP1/App2/nbproject/private/
/Java/2019/OOP1/App2/build/
/Java/2019/OOP1/App2/dist/
/Java/2019/OOP1/BigThinTall/nbproject/private/
/Java/2019/OOP1/BigThinTall/build/
/Java/2019/OOP1/BigThinTall/dist/
/Java/2019/OOP1/MessageEvent/nbproject/private/
/Java/2019/OOP1/MessageEvent/build/
/Java/2019/OOP1/MouseEvents/nbproject/private/
/Java/2019/OOP1/MouseEvents/build/
/Java/2019/OOP2/CRUD_Singleton/nbproject/private/
/Java/2019/OOP2/CRUD/nbproject/private/
/Java/2019/OOP2/CRUD/build/