*.~sql
*.pyc


# C/C++
obj
bin
*.exe
*.o

# Java
*.class
*.jar
*.ear
*.war

# Unwanted vs folder
DataStructures/.vs/
*.obj

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json